*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root{
    --background: #0C0C0C;
    --primeary-color: #9B3922;
    --secondary-color:  #F2613F;
}

body{
    background-color: var(--background);
    padding: 14px;
}
header{
    margin-bottom: 28px;
    display: flex;
    justify-content: space-between;
}

a {
    color: var(--primeary-color);
    text-decoration: none;
} 
h1{
    font-size: 24px;
}
h1, p{
    color: var(--secondary-color);
}

#title{
    margin-bottom: 44px;
}

#pfp{
    margin-bottom: 44px;
    color: #F2613F;
}
#Pro{
    color: var(--primeary-color);
    margin-top: 42px;
    margin-bottom: 18px;
}
#pro-img{
    width: 140px;
}
#project1{
    display: flex;
}

#project-img{
    display: flex;
    margin-left: 10px;
}
#links{
    margin-top: -21px;
}
#links a{
    margin: 18px;
    margin-left: 0px;
}
#project2{
    display: flex;
    flex-direction: column;
    margin-top: 75px;
}
#lin1{
    margin-top: 29px;
}
#project3{
    display: flex;
    margin-top: 55px;
}
#lin{
    margin-top: -10px;
}
.img2{
    margin-left: 65px;
    height: 100px;
}
@media screen and (min-width: 640px) {
    body{
    width: 50%;
    margin: auto;
    }
}