*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root{
    --background: #0C0C0C;
    --primeary-color: #F2613F;
    --secondary-color: #9B3922;
}

body{
    background-color: var(--background);
    padding: 14px;
}
header{
    margin-bottom: 28px;
    display: flex;
    justify-content: space-between;
}
a {
    color: var(--primeary-color);
    text-decoration: none;
} 
h1{
    font-size: 24px;
}
h1, p{
    color: var(--secondary-color);
}

#title{
    margin-bottom: 44px;
}

#pfp{
    margin-bottom: 44px;
}
#Pro{
    color: var(--primeary-color);
    margin-top: 42px;
}